@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
@font-face {
  font-family: 'Noto-Sans-JP';
  src: url('/font/NotoSansJP-Regular.otf')  format('opentype');
}
@font-face {
  font-family: 'Shippori-Mincho';
  src: url('/font/ShipporiMincho-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Smart-FontUI';
  src: url('/font/SmartFontUI.ttf') format('truetype');
}
.font-feature-settings-cilg-liga{
  font-feature-settings: 'clig' off, 'liga' off;
}
.m_l_60 {
  margin-left: 60px;
}
.m_l_30 {
  margin-left: 30px;
}
.m_l_16{
  margin-left: 16px;
}
.m_l_10 {
  margin-left: 10px;
}

.m_t_150 {
  margin-top: 150px;
}
.m_t_120 {
  margin-top: 120px;
}
.m_t_60 {
  margin-top: 60px;
}
.m_t_30 {
  margin-top: 30px;
}
.m_t_20 {
  margin-top: 20px;
}

.m_b_240 {
  margin-bottom: 240px;
}

.occupy {
  width: calc((100% - 912px) / 2);
  height: calc(100% );
  background: var(---, #dfe4f2);
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 0px;
}
.hr{
  border-color: #0E1B47;
}
.image-container {
  overflow: hidden;
  position: relative;
}

.image-container img {
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.2); /* 调整放大倍数 */
}

/*每页的公共配置 */

.Header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}
/* 页内导航 */
.page_nav_sticky {
  /* position: sticky; */
  height: 76px;
  top: 76px;
  left: 0;
  z-index: 5;
  transition: height 0.3s; /* 添加过渡效果 */
}
.shrink {
  height: 72px; /* 修改高度为 100px */
}
.page_center{
  width:100%;
  display:flex;
  justify-content: center;
  position: relative;
}

.page_center_items{
  width:1200px;
}

