html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
.m_l_60 {
  margin-left: 60px;
}
.m_l_30 {
  margin-left: 30px;
}
.m_l_10 {
  margin-left: 10px;
}
.m_t_150 {
  margin-top: 150px;
}
.m_t_120 {
  margin-top: 120px;
}
.m_t_60 {
  margin-top: 60px;
}
.m_t_30 {
  margin-top: 30px;
}
.m_t_20 {
  margin-top: 20px;
}

.m_b_150 {
  margin-bottom: 240px;
}
.image-container {
  overflow: hidden;
  position: relative;
}

.image-container img {
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.2); /* 调整放大倍数 */
}

/*每页的公共配置 */
.page {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.Header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}
